a {
  color: #000;
}

#header {
  background: #000;
  color: #fff;
  margin-bottom: 20px;
  padding: 10px;

  a {
    color: #fff;
    text-decoration: none;
  }

  #user_info {
    float: right;
  }
}

#container {
  width: 500px;
  margin: 0 auto;

  h1 {
    color: grey;
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
  }

}
